@import url("/fonts/inter/inter.css");
@import url("/fonts/borel/borel.css");

* {
  box-sizing: border-box;
}

:root {
  --neutral-color: #fff;
  --neutral-invert: #000;

  --base-accent: #000;
  --base-background: #fff;
  --base-foreground: #000;
  --base-active: var(--base-background);
  --base-disabled: rgb(from var(--base-foreground) r g b / 0.4);

  --host-background: #fff;

  --base-grid: #0001;
  --base-surface: #00000006;
  --base-surface-off: #0000000c;
  --base-surface-mid: #0000001c;
  --base-surface-on: #000;

  --tint-red: #c22648;
  --tint-orange: #bd5326;
  --tint-yellow: #9c6b02;
  --tint-green: #2e6e50;
  --tint-blue: #296fbf;
  --tint-purple: #6a44b8;

  color: var(--base-foreground);
}

::selection {
  background-color: var(--base-foreground);
  color: var(--base-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-color: #000;
    --neutral-invert: #fff;

    --base-accent: #fff;
    --base-background: #000;
    --base-foreground: #fff;

    --host-background: #000;

    --base-grid: #fff1;
    --base-surface: #ffffff09;
    --base-surface-off: #fff1;
    --base-surface-mid: #fff2;
    --base-surface-on: #fff;
  }
}

/* [Pages] */

html {
  padding: 0;
  margin: 0;

  width: 100vw;

  font-family: "Inter", sans-serif;
  font-feature-settings:
    "ss01" on,
    "ss02" on;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  --tile-size: 64px;
  --line-width: 1px;
  --line-angle: 0deg;
  --line-color: var(--base-grid);
  --vert-angle: calc(var(--line-angle) + 90deg);
  background-image:
    repeating-linear-gradient(var(--line-angle), var(--line-color) 0px, var(--line-color) var(--line-width), #0000 var(--line-width), #0000 var(--tile-size)),
    repeating-linear-gradient(var(--vert-angle), var(--line-color) 0px, var(--line-color) var(--line-width), #0000 var(--line-width), #0000 var(--tile-size));
  background-color: var(--host-background);
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

a:not(.raw) {
  position: relative;
  color: inherit;

  transition-property: background-color, padding, margin;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  transition-duration: 0.1s;
}

a:not(.raw):hover {
  background-color: var(--base-surface-off);

  padding: 0.25rem;
  margin: -0.25rem;
}

a[target="_blank"]:not(.raw)::after {
  background-color: var(--base-background);
  border: 1px solid currentColor;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 12px;
  height: 12px;
  font-size: 75%;

  content: "↗";
  user-select: none;
  opacity: 0;

  position: absolute;
  top: 0;
  right: -1.5cap;

  transition-property: opacity;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  transition-duration: 0.1s;
}

a[target="_blank"]:not(.raw):hover::after {
  opacity: 1;
}

input:not(.raw),
select:not(.raw),
textarea:not(.raw) {
  width: 100%;

  color: var(--base-foreground);
  font: inherit;
  padding: 0.5rem;

  background-color: var(--base-background);
  border: 2px solid var(--base-accent);
  outline: none;

  /* crazy hack for a hover effect that won't mess up firefox's <select> bg */
  box-shadow: 0 0 0 100vw transparent inset;

  transition-property: box-shadow, border-color, color;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  transition-duration: 0.1s;
}

input:not(.raw):not(:read-only):hover,
input:not(.raw):not(:read-only):focus,
textarea:not(.raw):not(:read-only):hover,
textarea:not(.raw):not(:read-only):focus,
select:not(.raw):not(:disabled):hover,
select:not(.raw):not(:disabled):focus {
  box-shadow: 0 0 0 100vw var(--base-surface-off) inset;
}

input:not(.raw):not([data-preserve-contrast]):read-only,
textarea:not(.raw):not([data-preserve-contrast]):read-only,
select:not(.raw):not([data-preserve-contrast]):disabled {
  border-color: var(--base-surface-mid);
  color: var(--base-disabled);
}

input[data-spoiler="true"]:not(.raw):not(:focus):not(:hover),
textarea[data-spoiler="true"]:not(.raw):not(:focus):not(:hover) {
  background-color: var(--base-disabled);
  border-color: var(--base-surface-mid);
  color: transparent;
}

form.with-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.with-layout > main {
  display: grid;
  gap: 1rem;
}

form.with-layout > footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
}

form.with-layout label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form.with-layout label > span {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

form.with-layout label > span small {
  display: none;
  align-items: center;
  gap: 0.25rem;

  font-weight: 500;
  opacity: 0.5;
}

form.with-layout label:has(input:focus) > span small {
  display: flex;
}

form.with-layout label > div {
  position: relative;
  width: 100%;
}

.avatar {
  object-fit: cover;
}

.cursive {
  font-family: "Borel";
  line-height: 50%;
  padding-top: 1cap;
}

.base-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: calc(100% - 2.5rem);
  max-width: 720px;
  padding: 2.5rem 0;
}

.base-page.extended {
  max-width: 840px;
}

.intro {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
}

.intro.collapse-aside {
  grid-template-columns: 1fr max-content;
}

.intro .greeting {
  display: flex;
  flex-direction: column;
}

.intro .greeting p {
  font-size: 2rem;
}

.intro .greeting h1 {
  font-size: 3rem;
  margin-top: -0.5rem;
}

.intro .greeting:has(i) h1 {
  margin-bottom: -0.375rem;
}

.intro .greeting i {
  font-size: 1.25rem;
  opacity: 0.5;
}

.intro .chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.intro .chips > span {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.625rem;

  background-color: var(--base-background);
  border: 2px solid var(--base-foreground);
}

.blurb {
  font-weight: 550;
  font-style: italic;
}

@media screen and (max-width: 520px) {
  .intro {
    grid-template-columns: 1fr !important;
    justify-content: center;
    text-align: center;
  }

  .intro .chips {
    justify-content: center;
  }
}

.box-intro {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-bottom: 0.75rem;
}

.box-intro > div {
  display: flex;
  flex-direction: column;
}

.box-intro > div span {
  font-style: italic;
  color: var(--base-disabled);
}

*[data-hover-palette="red"]:hover {
  --base-accent: var(--tint-red);
}

*[data-hover-palette="orange"]:hover {
  --base-accent: var(--tint-orange);
}

*[data-hover-palette="yellow"]:hover {
  --base-accent: var(--tint-yellow);
}

*[data-hover-palette="green"]:hover {
  --base-accent: var(--tint-green);
}

*[data-hover-palette="blue"]:hover {
  --base-accent: var(--tint-blue);
}

*[data-hover-palette="purple"]:hover {
  --base-accent: var(--tint-purple);
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  width: 100%;
}

@media screen and (max-width: 768px) {
  .links {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .links {
    grid-template-columns: 1fr;
  }
}

.links a {
  background-color: var(--base-background);
  border: 2px solid var(--base-accent);
  color: var(--base-foreground);

  text-decoration: none;

  display: flex;
  flex-direction: column;
  padding: 1rem;

  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  transition-duration: 0.15s;
}

.links a > b {
  font-size: 1.25rem;
  padding-bottom: 0.125rem;
}

.links a:hover {
  background-color: var(--base-accent);
  color: var(--base-background);
}

.force-light:hover {
  color: #fff !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

/* [Layout] */

.nav-loader {
  position: fixed;
  bottom: 1rem;
  left: 50%;

  display: flex;
  align-items: center;
  overflow: hidden;

  translate: -50% 0;
  padding: 0.5rem 1rem;

  font-size: 1.25rem;

  background-color: var(--base-foreground);
  color: var(--base-background);

  border: 2px solid var(--base-background);
  box-shadow: 0 0 0 2px var(--base-foreground);

  transition-property: padding, opacity;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  transition-duration: 0.25s;

  z-index: 999;
}

.nav-loader.hidden {
  padding: 0.125rem;
  opacity: 0;

  transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
  transition-delay: 0.5s;
}

.nav-loader span {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.nav-loader .pending svg,
.loader {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.nav-loader .pending {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  animation-fill-mode: both;
}

/* [Archives] */

.markdown-content {
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 1.4;

  color: #000;
}

.markdown-content :first-child {
  margin-top: 0;
}

.markdown-content :last-child {
  margin-bottom: 0;
}

.markdown-content p:has(> img) {
  text-align: center;
}

.markdown-content img {
  max-width: 100%;
  margin: 0 auto;
  width: auto;

  border: 1px solid var(--base-surface-mid);
  background-color: var(--base-surface);
}

.markdown-content p {
  margin: 0.75rem 0;
}

.markdown-content a {
  color: var(--base-foreground);
}

.markdown-content .callout a {
  color: inherit;
}

.markdown-content .footnote-ref a,
.markdown-content a.footnote-backref {
  text-decoration: none;
}

.markdown-content em > strong {
  background-color: var(--base-surface-off);
  color: var(--base-foreground);

  padding: 0.125rem;
  margin: -0.125rem;
}

.markdown-content del {
  color: var(--base-disabled);
}

.markdown-content pre {
  display: block;
  overflow: auto;

  background-color: var(--base-surface);
  border: 1px solid var(--base-surface-mid);
  color: var(--base-foreground);

  padding: 0.5rem;
}

.markdown-content code {
  background-color: var(--base-surface-off);
  border: 1px solid var(--base-surface-mid);
  color: var(--base-foreground);

  padding: 0.1rem 0.25rem;
}

.markdown-content pre code {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
}

.markdown-content hr {
  border: none;
  border-top: 2px dashed rgb(from var(--base-accent) r g b / 0.4);
  margin: 1rem 0;
}

.markdown-content table {
  width: 100%;
  padding: 2px;
  margin: 1rem 0;

  border: 1px solid var(--base-surface-mid);
  border-collapse: collapse;
}

.markdown-content thead {
  background-color: var(--base-surface-off);
  border-bottom: 1px solid var(--base-surface-mid);
  color: var(--base-foreground);
  text-align: left;
}

.markdown-content th,
.markdown-content td {
  border: 1px solid var(--base-surface-mid);
  border-top: 0;
  border-bottom: 0;

  padding: 0.375rem 0.5rem;
}

.markdown-content ul,
.markdown-content ol {
  padding: 0;
  margin: 0.25rem 0;

  padding-left: 1.25rem;
}

.markdown-content math {
  font-size: 1.125rem;
}

.markdown-content .katex-html {
  display: none;
}

.markdown-content details {
  background-color: transparent;
  padding: 0rem;

  transition-property: background-color, padding, margin;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 0.1s;
}

.markdown-content details:open {
  background-color: var(--base-surface-off);
  margin: 0 -1rem;
  padding: 1rem;
}

.markdown-content summary {
  background-color: var(--base-surface-off);
  color: var(--base-foreground);
  padding: 0.25rem 0.5rem;

  transition-property: background-color, color, margin;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 0.1s;

  user-select: none;
}

.markdown-content details:open summary {
  background-color: var(--base-foreground);
  color: var(--base-background);
  margin-bottom: 0.75rem;
}

.markdown-content .callout {
  --fg: #000;
  --accent: #000;

  background-color: rgb(from var(--accent) r g b / 0.05);
  border: 1px solid rgb(from var(--accent) r g b / 0.1);
  color: rgb(from color-mix(in srgb, var(--fg) 50%, var(--accent) 50%) r g b / 0.75);

  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem;

  padding: 1rem;
  width: 100%;
}

.markdown-content .callout:not(:has(b)) {
  align-items: center;
}

.markdown-content .callout > span > b {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.markdown-content .callout > span > b,
.markdown-content svg {
  color: var(--accent);
}

.markdown-content .callout[data-variant="critical"] {
  --accent: #c22648;
}

.markdown-content .callout[data-variant="warning"] {
  --accent: #9d6b00;
}

.markdown-content .callout[data-variant="success"] {
  --accent: #36835f;
}

.markdown-content .callout[data-variant="info"] {
  --accent: #296fbf;
}

.markdown-content .callout[data-variant="tip"] {
  --accent: #6d41b4;
}

@media (prefers-color-scheme: dark) {
  .markdown-content {
    color: #fff;
  }

  .markdown-content .callout {
    --fg: #fff;
    --accent: #fff;

    background-color: rgb(from var(--accent) r g b / 0.15);
    border: 1px solid rgb(from var(--accent) r g b / 0.2);
  }

  .markdown-content .callout > span > b,
  .markdown-content svg {
    color: color-mix(in srgb, var(--fg) 50%, var(--accent) 50%);
  }
}
